language: node_js
node_js:
  - "7"
script: "npm run-script test-travis && codecov --file=coverage/lcov.info --disable=gcov"
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"